html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    letter-spacing: 2px;

    background-color: black;
}

h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;

    color: white;
    font-family: "GoudyTrajan", sans-serif;

    text-transform: uppercase;
    text-shadow: 0px 0px 10px black;
}

body {
    background-color: #000;
    background-image: url("assets/backv2.png");
    background-size: cover;
    background-position: left bottom;
    background-repeat: no-repeat;
}

header {
    width: 100%;
    height: 220px;

    position: absolute;
        top: 0;

    display: flex;
        justify-content: center;

    z-index: 1;
}

.social-block {
    position: absolute;
        top: 35px;
        left: 25px;
    z-index: 1;
}

.social-option {
    list-style: none;
    margin-bottom: 30px;
}

.social-option:last-child {
    margin-bottom: 0;
}

.social-link {
    padding: 15px;
}

.social-img {
    transition: transform .1s ease-in;
}

.social-link:hover > .social-img {
    transform: scale(1.2);
}

.logo {
    margin-top: 64px;
}

.concert_info {
    display: flex;
    margin-bottom: 3px;
}

.city_name {
    font-size: 2.2em;
}

.date_time {
    font-size: 2.2em;
    font-family: "GoudyTrajan", sans-serif;
    margin-right: 15px;
    color: #d3372b;
}

.purchase_button {
    height: 2.5rem;
    width: 9rem;

    border: none;
    outline: none;
    transition: box-shadow .2s ease-in;
    cursor: pointer;
    color: white;
}

.purchase_button:hover {
    box-shadow: 0px 0px 15px #d3372b !important;
    opacity: 1 !important;
}

.concerts {
    position: absolute;
        top: 36%;
        left: 50%;
    transform: scale(1.3);
    width: 35%;
    min-width: 450px;
    z-index: 1;
}

.concert {
    display: flex;
    flex-direction: column;
    align-items: end;

    margin-bottom: 45px;
}

.soap {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: backdrop-filter .5s ease-in;
}






/*Rules*/


@media (max-width: 1080px) {
    .soap {
        backdrop-filter: blur(5px);
    }

    .header,
    .social-block,
    .concerts {
        z-index: 1;
    }


    body {
        display: flex;
            justify-content: flex-end;
            align-items: center;
    }

    .concerts {
        position: static;
        margin-top: 155px;
        margin-right: 16%;
    }
    
}

@media (max-height: 775px) {
    header {
        position: absolute;
        top: unset;
        bottom: 130px;
    }
}

@media (max-width: 680px) {
    header {
        height: 160px;
    }

    .logo {
        transform: scale(.6);
        margin: 10px;
    }

    body {
        display: block;
        overflow: hidden;

        background: black;
        background-image: url(/assets/zhdun_nahui_mobilka.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: bottom;
    }

    .concerts {
        position: absolute;
            bottom: 0;
        margin: 0;
    }

    .social-block {
            bottom: 25px;
            top: unset;
            left: unset;
        width: 100%;
        display: flex;
            flex-direction: row;
        z-index: 2;
    }

    .social-list {
        display: flex;
            justify-content: center;
            align-items: flex-end;
        width: 100%;
        margin-bottom: -15px;

    }

    .social-option {
        margin: 0;
    }

    .concerts {
            top: unset;
            left: unset;
        min-width: unset;

        display: flex;
            flex-direction: column;

        width: 85vw;
    }

    .concert {
            justify-content: flex-end;
            flex-direction: row;

        margin-bottom: 15px;
    }

    .concert:last-child {
        margin-bottom: 80px;
    }

    .city_name {
        font-size: 1.1em;
        text-shadow: none;
        margin-left: 0;
    }

    .date_time {
        font-size: 1.1em;
        text-shadow: none;
        margin-right: 10px;
    }

    .purchase_button {
        margin-left: 5px;

        height: 1.5rem;
        width: 25vw;
        font-size: .8em !important;
        line-height: 20px !important;
    }

    .soap {
        display: none;
    }
}