html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;

    background-color: black;
}

h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;

    color: white;
    font-family: "ProximaNova", sans-serif;

    text-transform: uppercase;
    text-shadow: 0px 0px 10px black;
}

body {
    background-image: url("assets/backv2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    width: 100%;
    height: 35px;

    position: absolute;
        top: 0;

    display: flex;
        justify-content: center;

    z-index: 1;
}

.social-block {
    position: absolute;
        top: 35px;
        left: 25px;
    z-index: 1;
}

.social-option {
    list-style: none;
    margin-bottom: 30px;
}

.social-option:last-child {
    margin-bottom: 0;
}

.social-link {
    padding: 15px;
}

.social-img {
    transition: transform .1s ease-in;
}

.social-link:hover > .social-img {
    transform: scale(1.2);
}

.logo {
    margin-top: 20px;
}

.page_title {
    margin-bottom: 15%;

    font-size: 4em;
}

.city_name {
    font-size: 2.2em;
    color: #ff0043;
}

.date_time, .place_name {
    font-size: 1.2em;
    font-family: "copperplate", sans-serif;
}

.purchase_button {
    margin-top: 5px;

    height: 4rem;
    width: 12rem;

    border: none;
    outline: none;
    transition: box-shadow .1s ease-in;
    cursor: pointer;
    color: white;
}

.purchase_button:hover {
    box-shadow: 0px 4px 30px rgb(207 78 78) !important;
    opacity: 1 !important;
}

.concerts {
    position: absolute;
        top: 36%;
        left: 40%;

    width: 33%;
    min-width: 450px;
    z-index: 1;
}

.concert {
    display: flex;
        justify-content: space-between;

    margin-bottom: 50px;
}

.soap {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: backdrop-filter .5s ease-in;
}






/*Rules*/


@media (max-width: 1020px) {
    .soap {
        backdrop-filter: blur(5px);
    }

    .header,
    .social-block,
    .concerts {
        z-index: 1;
    }


    body {
        display: flex;
            justify-content: flex-end;
            align-items: center;
    }

    .concerts {
        position: static;
        margin-top: 155px;
        margin-right: 16%;
    }
    
}

@media (max-width: 680px) {

    .logo {
        transform: scale(.6);
    }

    body {
        display: block;
        overflow: hidden;

        background: white;
        background-image: url(/assets/paper.png), url(/assets/back_mobile.png);
        background-size: contain, cover;
        background-repeat: no-repeat;
        background-position-y: bottom, top;
    }

    .concerts {
        position: absolute;
            bottom: 0;
        margin: 0;
    }

    .social-block {
            bottom: 25px;
            top: unset;
            left: unset;
        width: 100%;
        display: flex;
            flex-direction: row;

    }

    .social-list {
        display: flex;
            justify-content: center;
            align-items: flex-end;
        width: 100%;
        margin-bottom: -15px;

    }

    .social-option {
        margin: 0;
    }

    .concerts {
            top: unset;
            left: unset;
        min-width: unset;

        display: flex;
            flex-direction: column;

        width: 100%;
    }

    .concert {
            justify-content: space-around;
        margin-bottom: 30px;
    }

    .concert:last-child {
        margin-bottom: 80px;
    }

    .page_title {
        margin-right: 20px;
    }

    .page_title {
            align-self: flex-end;
        font-size: 2em;

        margin-bottom: calc(15% - 10px);
    }

    .city_name {
        font-size: 1.2em;
        text-shadow: none;
    }

    .date_time, .place_name {
        font-size: 0.8em;
        color: black;
        text-shadow: none;
    }

    .purchase_button {
        margin-top: 5px;

        height: 2rem;
        width: 8rem;
        font-size: .8em !important;
        line-height: 20px !important;
    }

    .soap {
        display: none;
    }
}